<div class="menu-bar">
	<div class="menu-links">
		<a [routerLink]="['/library-list']" routerLinkActive="active">Library List</a>
		<a [routerLink]="['/borrowed']" routerLinkActive="active">My Borrowed Items</a>
		<a [routerLink]="['/my-account']" routerLinkActive="active">My Account</a>

		<!-- Conditionally show User Management link -->
		<a *ngIf="isLibrarianOrAdmin()" [routerLink]="['/user-management']" routerLinkActive="active">User
			Management</a>
	</div>

	<div class="user-info">
		Logged in as: {{ firstname }} {{ lastname }}
		<button class="logout-btn" (click)="logout()">Logout</button>
		<div *ngIf="token">
			<p><strong>Token:</strong> {{ token }}</p> <!-- Display the token -->
		</div>
	</div>

	<div class="borrowed-items">
		<h4>Borrowed Items:</h4>
		<ul>
			<li *ngFor="let itemId of borrowedItems">{{ itemId }}</li>
		</ul>
	</div>
</div>