<div class="user-management-container">
	<h1>User Management</h1>

	<!-- Display error message if any -->
	<div *ngIf="errorMessage" class="error-message">
		{{ errorMessage }}
	</div>

	<!-- Link to the Create User page -->
	<div class="create-user-link">
		<p><a [routerLink]="['/create-user']">Create user</a></p>
	</div>

	<!-- Table to list users -->
	<table class="user-table" *ngIf="users.length > 0">
		<thead>
			<tr>
				<th>ID</th>
				<th>Username</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>User Type</th>
				<th>Created At</th>
				<th>Disabled</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td>{{ user.id }}</td>
				<td>
					<input [(ngModel)]="user.username" [disabled]="!canEdit(user)" placeholder="Username" />
				</td>
				<td>
					<input [(ngModel)]="user.firstname" [disabled]="!canEdit(user)" placeholder="First Name" />
				</td>
				<td>
					<input [(ngModel)]="user.lastname" [disabled]="!canEdit(user)" placeholder="Last Name" />
				</td>
				<td>
					<select [(ngModel)]="user.user_type" [disabled]="!canEdit(user)">
						<option value="Customer">Customer</option>
						<option value="Librarian">Librarian</option>
						<option value="Admin">Admin</option>
					</select>
				</td>
				<td>{{ user.created_at | date: 'short' }}</td>
				<td>
					<input type="checkbox" [(ngModel)]="user.disabled" [disabled]="!canEdit(user)" />
				</td>
				<td>
					<button *ngIf="canEdit(user)" (click)="openPasswordChangeModal(user)" class="action-button">
						Change Password
					</button>
					<!-- Add space between the buttons using a class -->
					<button *ngIf="canEdit(user)" (click)="deleteUser(user.id)" class="action-button delete-button">
						Delete
					</button>
				</td>
			</tr>
		</tbody>
	</table>

	<!-- Password Change Modal -->
	<app-password-change-modal *ngIf="isPasswordModalOpen" (close)="closePasswordChangeModal()"
		(submit)="changePassword($event)">
	</app-password-change-modal>

	<!-- Message when no users are found -->
	<div *ngIf="users.length === 0 && !errorMessage" class="no-users">
		No users found.
	</div>
</div>